@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap');

html, body {
    width: 100%;
    margin: 0 auto;
}

/*ENTIRE PAGE CONTAINER*/
.page {
    width: 100%;
    height: 100%;
}

/**********
 * HEADER *
 **********/

.header-container {
    width: 100%;
    height: 15vh;
}

/**************
 * NAVIGATION *
 *************/

.nav-container {
    width: 100%;
    height: 15vh;
    background-color: #202228;
    display: grid;
    grid-template-columns: 40% 60%;
}

.page-title-container {
    width: 40vw;
    height: 15vh;
    margin: 1em 0.3em;
    padding: 0.75em 0.3em;
}

/*SPAN STYLE*/
.greenery {
    color: #19c17e;
}

/* HOMEGREENERY TITLE */
.page-title {
    font-family: 'Lato', sans-serif;
    width: 40vw;
    height: 15vh;
    margin: 0.3em 0;
    padding: 0.2em 0;
    text-align: left;
    color: #fff;
}

/*NAV LI */
.ul-container {
    width: 60vw;
    height: 15vh;
    margin: 0 -2em;
    padding: 0 0;
    text-align: right;
}

/*NAV UNORDERED LIST*/
.nav-ul {
    width: 60vw;
    height: 15vh;
    margin: 1em 0;
    padding: 1em 0;
}

/*NAV LI'S*/
.list-of-links {
    display: inline-block;
}

.nav-links {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 0 1.5em;
    text-decoration: none;
}

.nav-links:hover {
    color:#19c17e;
}

/*BUTTON ANCHOR */
.sign-in-a {
    color: #000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.sign-in-a:hover {
    color: #fff;
}

.sign-in-btn {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 1em 1.5em;
    background-color: #19c17e;
    border: none;
    border-radius: 1em;
}

/********
 * BODY *
 *******/

main {
    width: 96vw;
    margin: 0 auto;
}

/*******************************************
 * SECTION TWO - FERN IMAGE / TEXT OVERLAY *
 *******************************************/

.fern-container {
    width: 100%;
}

.fern-img {
    width: 100%;
    padding: 0;
}

.text-on-fern {
    width: 66.66%;
    position: absolute;
    top: 20%;
    left: 4%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 6em;
    word-wrap: normal;
    text-shadow: 1px 2px 0 #000;
}

/****************************************************
 * SECTION TWO - WHY GROW PLANTS / NEW TO GARDENING *
*****************************************************/

.section-two {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*SECTION TWO - COLUMN ONE*/

.potted-plant-container {
    margin: 0 0;
    padding: 0 0;
}

.side-by-side {
    display: grid;
    grid-template-columns: 30% 70%;
}

.potted-plant-h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #397153;
}

.potted-plant-img {
    width: 100%;
}

.list-of-reasons {
    margin: 0;
    width: 80%;
    word-wrap: normal;
    font-size: 1.1em;
}

.reasons {
    font-family: 'Open Sans', sans-serif;
    list-style-type: square;
    margin: 0;
    padding: 0;
    text-align: left;
}

/*SECTION TWO - COLUMN TWO*/

.register-container {
    width: 100%;
}

.reg-h3 {
    font-family: 'Lato', sans-serif;
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 1.5em;
    color: #397153;
}

.reg-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

.plant-resources {
    color: #397153;
}

.plant-resources:hover {
    color: #01a765;
}

.plant-resources:visited {
    color: #397153;
}

.create-account {
    color: #397153;
}

.create-account:hover {
    color: #01a765;
}

.register-btn {
    text-align: center;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 1em 30% 0 40%;
}

.register-btn:hover {
    background-color: #19c17e;
    color: #fff;
}

/***********************************************
 * SECTION THREE - FIND WHAT YOU'RE LOOKING FOR *
 ***********************************************/

.section-three {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: #defef1;
}

.find-h4 {
    background-color:  #defef1;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding: 2em 0;
}


/*SECTION THREE - COLUMN ONE */

.col-one {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.seeds {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #397153;
    padding-bottom: 1em;
}

.seed-img {
    margin: 0 auto;
}

.seed-desc {
    font-family: 'Open Sans', sans-serif;
}

.seeds-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 1em auto;
    padding: 0.5em 0.5em;
    width: 50%;
    border: none;
    border-radius: 0.5em;
    background-color: #000;
    color: #fff;
    margin-bottom: 5em;
}

.seeds-btn:hover {
    background-color: #19c17e;
}

/*SECTION THREE - COLUMN TWO*/

.col-two {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.resource {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #397153;
    padding-bottom: 1em;
}

.open-book {
    margin: 0 auto;
}

.resource-p {
    font-family: 'Open Sans', sans-serif;
}

.plant-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 1em auto;
    margin-bottom: 5em;
    padding: 0.5em 0.5em;
    width: 50%;
    border: none;
    border-radius: 0.5em;
    background-color: #000;
    color: #fff;
}

.plant-btn:hover {
    background-color: #19c17e;
}

/*SECTION THREE - COLUMN THREE*/

.col-three {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.growing-food {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #397153;
    padding-bottom: 1em;
}

.garden-img {
    margin: 0 auto;
}

.garden-p {
    font-family: 'Open Sans', sans-serif;
}

.gardening-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 1em auto;
    margin-bottom: 5em;
    padding: 0.5em 0.5em;
    width: 50%;
    border: none;
    border-radius: 0.5em;
    background-color: #000;
    color: #fff;
}

.gardening-btn:hover {
    background-color: #19c17e;
}

/*****************************
 * SECTION FOUR - FORM INPUT *
 *****************************/

.section-four {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    background-color: #19c17e;
}

.section-four-title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 2em 0 0.5em 0;
    font-size: 1.3em;
}

.section-four-p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.email-container {
    text-align: center;
    margin: 1em 2em;
}

.email-label {
    font-family: 'Open Sans', sans-serif;
    padding: 0.3em;
}

.email-input {
    padding: 0.2em 10em 0.2em 0.1em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

.checkbox-container {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.interests-form {
    width: 50%;
    margin: 0 auto;
}

.form-title {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

fieldset {
    border: solid #fff 1px;
    border-radius: 0.2em;
    width: 70%;
    margin: 0 auto;
}

.check {
    margin-left: 3.3em;
}

.label {
    margin-right: 3.3em;
}

.subscribe-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 2em auto 5em auto;
    margin-bottom: 5em;
    padding: 0.5em 0.5em;
    width: 10%;
    border: none;
    border-radius: 0.5em;
    background-color: #000;
    color: #fff;
}

.subscribe-btn:hover {
    color: #19c17e;
}

/**********
 * FOOTER *
 **********/

footer {
    background-color: #202228;
}

.footer-container {
    background-color: #202228;
    color: #fff;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.foot-title {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 1.5em 1.5em;
}

.foot-links-ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 2.5em;
    padding: 0 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.foot-links-li {
    color: #fff;
    text-decoration: none;
}

.foot-links-li:visited {
    color: #fff;
}

.foot-links-a {
    color: #fff;
    text-decoration: none;
}

.foot-links-a:hover {
    color: #19c17e;
}

/*************
 * COPYRIGHT *
 *************/

.copyright-container {
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    margin: 0 auto;
    background-color: #202228;
    color: #fff;
    border-top: solid 1px #19c17e;
    padding: 0.2em 0;
}
