@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap');

html, body {
    width: 100%;
    margin: 0 auto;
}

/*ENTIRE PAGE CONTAINER*/
.page {
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    height: 15vh;
}

.nav-container {
    width: 100%;
    height: 15vh;
    background-color: #202228;
    display: grid;
    grid-template-columns: 40% 60%;
}


.page-title-container {
    width: 40vw;
    height: 15vh;
    margin: 1em 0.3em;
    padding: 0.75em 0.3em;

}

/*SPAN STYLE*/
.greenery {
    color: #19c17e;
}

/* HOMEGREENERY TITLE */
.page-title {
    font-family: 'Lato', sans-serif;
    width: 40vw;
    height: 15vh;
    margin: 0.3em 0;
    padding: 0.2em 0;
    text-align: left;
    color: #fff;
}

.ul-container {
    width: 60vw;
    height: 15vh;
    margin: 0 -2em;
    padding: 0 0;
    text-align: right;
}


.nav-ul {
    width: 60vw;
    height: 15vh;
    margin: 1em 0;
    padding: 1em 0;
}

.list-of-links {
    display: inline-block;
}

.nav-links {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 0 1.5em;
    text-decoration: none;
}

.nav-links:hover {
    color:#19c17e;
}

.btn-a {
    color: #000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.btn-a:hover {
    color: #fff;
}

.sign-in {
    margin: 0;
    padding: 1em 1.5em;
    background-color: #19c17e;
    border: none;
    border-radius: 1em;
}

main {
    width: 96vw;
    margin: 0 auto;
}

.fern-container {
    width: 100%;
}

.fern-img {
    width: 100%;
    padding: 0;
}

.text-on-fern {
    width: 66.66%;
    position: absolute;
    top: 20%;
    left: 4%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 6em;
    word-wrap: normal;
    text-shadow: 1px 2px 0 #000;
}

.section-two {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.potted-plant-container {
    margin: 0 0;
    padding: 0 0;
}

.side-by-side {
    display: grid;
    grid-template-columns: 30% 70%;
}

.potted-plant-h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #397153;
}

.potted-plant-img {
    width: 100%;
}

.list-of-reasons {
    margin: 0;
    width: 80%;
    word-wrap: normal;
    font-size: 1.1em;
}

.reasons {
    font-family: 'Open Sans', sans-serif;
    list-style-type: square;
    margin: 0;
    padding: 0;
    text-align: left;
}

.register-container {
    width: 100%;
    height:
}

.reg-h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.5em;
    color: #397153;
}

.reg {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
}

.plant-resources {
    color: #397153;
}

.plant-resources:hover {
    color: #01a765;
}

.plant-resources:visited {
    color: #397153;
}

.create-account {
    color: #397153;
}

.create-account:hover {
    color: #01a765;
}

.register {
    text-align: center;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 1em 30% 0 40%;
}